# Enable mbedTLS features required to validate Let's Encrypt E7 (P-384 / SHA-384)
CONFIG_MBEDTLS_SHA512_C=y
CONFIG_MBEDTLS_ECP_DP_SECP384R1_ENABLED=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDHE_ECDSA_ENABLED=y
